.chatline{
  background-color: #99ddff;
  display: block;
  height: max-content;
  width: max-content;
  max-width: 40vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  padding: 5px 10px;
  border-radius: 5px;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: 0px;
}

.otherchatline{
  background-color: #99aaff;
  display: block;
  height: max-content;
  width: max-content;
  max-width: 40vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  padding: 5px 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

#typeline{
  background-color: white;
  height: 5vh;
  width: 40vw;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

#typepane{
  background-color: #7872b8;
  height: 10vh;
  width: 50vw;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: 0px;
  border: 2px solid #626262;
}

#messagepane{
  background-color: white;
  height: 80vh;
  width: 50vw;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: 0px;
  border: 8px solid #626262;
  border-radius: 5px;
}

#namepane{
  width: 30vw;
  margin-left: 0px;
  margin-right: auto;
  border: 4px dashed #black;
  float: left;
}

#sendbtn{
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  margin-left: 1vw;
}
