.card{
  display: inline-block;
  margin: 1vw;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

#card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(125,193,192,0.6);
}
