body{
  font-family: 'Arial', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background-image-container{
  position: fixed;
  height: 150vh;
  width: 150vw;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.background-image-container > img{
  position: absolute;
  max-height: 150vh;
  max-width: 150vw;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
}

.jumbotron{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  width: 40%;
  border: 1.5px dashed lack;
  font-size: 20px;
  text-align: center;
  background-color: white;
} .jumbotron:hover{
  transition: 0.5s linear;
  box-shadow: inset 0 0 10px 2px;
  -moz-webkit-box-shadow: inset 0 0 10px 2px;
}

#hand-Container{
  height: 40%;
  width: 100%;
} #hand-Container > img{
  max-height: 40%;
  max-width: 40%;
}
